html {
    background-color: #021A26;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {

}

.title {
    color: #4DBD94;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Playfair Display", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.hometext {
    color: white;
    font-family: "Nunito Sans", sans-serif;
}

a:link {
    color: #4DBD94;
    text-decoration: none;
}

a:visited {
    color: #4DBD94;
    text-decoration: none;
}

a:hover {
    color: #4DBD94;
    text-decoration: underline;
}

a:active {
    color: #666666;
    text-decoration: underline;
}