html {
    font-family: "Lato", "Nunito+Sans", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    padding-bottom: 70px;
    background-color: #021A26;
}

body {
    background-color: #021A26;
    font-family: "Lato", "Nunito+Sans";
}

.buttoncol {
    color: white;
}

.wtxt {
    color: white;
}

.headtxt {
    color: #4DBD94;
}

.sociallink {
    color: #4DBD94;
}

a.collink:link {color:#4DBD94;
    text-decoration: underline;}
    a.collink:visited {color:#4DBD94;
    text-decoration: underline;}
    a.collink:hover {color:#4DBD94;
    text-decoration: none;}
    a.collink:active {color:#666666;
    text-decoration: underline;}



.grtxt {
    color: #4DBD94;
}


.mwdiv {
    border-bottom: 5px dotted #4DBD94;
    padding-top: ;
    padding-bottom: 2em;
}
.centrebox {
vertical-align: center;
	margin-top: auto;
	margin-bottom: inherit;
	padding: 10px;
	text-align: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}



.proj {
    padding-top:2em;
}

.projtxt {
    color: #4DBD94;
}

.ft {
  position: relative;
  margin-top: 50px; /* negative value of footer height */
} 

.display-5 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.2;
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  width: 100%;

         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}